@page
@model DatabaseEPICORDb.Pages.ViewPages.DeleteDepartmentModel


@{
    var obj1 = Model.Department;
}

<div class="container p-3">
    <div class=" row pt-4">
        <div class="col-6">
            <h2 class=" text-black-50">Department Data</h2>
        </div>
    </div>
    <br /><br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Department ID
                </th>
                <th>
                    Department's' Name
                </th>
                <th>
                    Department's Loaction
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Department)
            {
                <tr>
                    <td>
                        @obj.Id
                    </td>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Location
                    </td>
                    <td>
                       <a asp-page="DeleteDepartmentDelete" asp-route-id="@obj.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

