@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style=" color:cadetblue">Welcome to Epicor Database</h1><hr />
    <p>Learn about WebApps with Quickship_team</p>
</div>
<div>
    <img height="600" width="1300" src="~/Images/1.jpg" />
</div>